.chart{
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}

.chartTitle{
    margin-bottom: 20px;
}